.dropzone{
  border: 2px dashed #cccccc;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  height: 512px;
  width: 512px;
  /* height: 100%; */
}

.imagepreview{
  margin-top: 0px;
  width: 100%;
  height: 100%;
  
}
.upload{
  display: inline-block;
  background-color: #010828 ;
  height: fit-content;
  width: 350px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px;
}

.dragndrop{
  margin-top: 500px;
}