.dropzone{
  border: 2px dashed #cccccc;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  height: fit-content;
}

.imagepreview{
  height: 100%;
  margin-top: 0px;
  width: 100%;
  
}
.upload{
  background-color: #010828 ;
  width: 200px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 16px;
}
